body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#universe {
  background-image: url(../../public/tumblr_p1qv14GW1H1wqkm0qo7_1280.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#galaxy {
  background: url(../../public/DunklesUniversum-Header.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#solarSystem {
  background: url(../../public/Header-Photo-Template-2023-03-17T191336.312.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

#star {
  background: url(../../public/vale-ventures-header.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

#planet {
  background: url(../../public/EarthDayHeader2-1200x400.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

#satellite {
  background: url(../../public/tumblr_pr5fypv9TK1uz9813o5_1280.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

#remainingCelestialBodies {
  background: url(../../public/asteroid-field-isolated-on-black-260nw-2234515363.webp) center;
  background-size: cover;
  background-repeat: no-repeat;
}

#blackHole {
  background: url(../../public/20Zmt7eb.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media(max-width: 585px) { 
  #remainingCelestialBodies {
   
    background-size: auto;
  }

}