.loading {
    background: url(../../../../public/web_first_images_release.png) center;
    width: 100%;
    min-height: 99.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .load {
    color: navy;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
  }